@media (min-resolution: 192dpi) {
  .features-list {
    background-image: url(../images/features/bg@2x.png);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .section-title {
    font-size: 24px;
  }

  .section-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .header-btn-open {
    display: none;
  }

  .menu {
    display: flex;
  }

  .hero-container {
    padding: 60px 32px 143px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-bottom: 28px;
  }

  .hero-subtitle::before {
    display: block;
  }

  .hero-list {
    margin-bottom: 60px;
  }

  .hero-item {
    font-size: 16px;
  }

  .hero-button {
    margin: 0;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-wrapp-img {
    overflow: visible;
  }

  .hero-wrapp-img::after {
    display: none;
  }

  .hero-img-tablet {
    display: block;
  }

  .features {
    background-image: none;
  }

  .features-container {
    padding: 100px 32px 80px 0;
  }

  .features-text {
    margin-bottom: 40px;
  }

  .features-list {
    position: relative;
    padding: 0 58px 0 0;
    align-items: flex-end;
    row-gap: 80px;
    background-position: -92px 0;
    background-size: auto 592px;
  }

  .features-item {
    max-width: 278px;
  }

  .features-item:last-child {
    position: absolute;
    left: 40px;
    bottom: 0px;
  }

  .video-container {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .video-content {
    margin-bottom: 84px;
  }

  .video-title,
  .video-text {
    margin-bottom: 20px;
  }

  .video-title {
    font-size: 24px;
  }

  .video-text {
    font-size: 16px;
  }

  .video-text::before {
    display: block;
  }

  .video-wrapp-img {
    max-width: 400px;
  }

  .team-container {
    padding-top: 80px;
  }

  .team-title {
    margin-bottom: 40px;
  }

  .team-list {
    row-gap: 40px;
  }

  .team-item {
    padding: 20px;
  }

  .team-img {
    width: 296px;
    height: 299px;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 20px;
  }

  .costumer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .costumer-title {
    max-width: 100%;
  }

  .costumer-descr {
    margin-bottom: 40px;
  }

  .costumer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .contacts-container {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .form-field {
    flex-direction: row;
    column-gap: 32px;
  }

  .form-textarea {
    height: 162px;
  }

  .footer-text {
    max-width: 100%;
  }

  .footer-container {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .modal {
    width: 575px;
  }

  .modal-container {
    padding: 32px 40px;
  }

  .modal-title {
    margin-bottom: 28px;
  }

  .modal-form {
    margin-bottom: 32px;
  }

  .modal-form-list {
  }

  .modal-text {
    margin-bottom: 32px;
  }

  .modal-info-app-lists {
    margin-bottom: 32px;
  }

  .modal-info-app-list {
    width: 243px;
  }

  .modal-info-app-list:first-child {
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-info-app-list:last-child {
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 10px;
  }

  .menu-link {
    padding: 29px 0;
  }

  .hero-container {
    padding: 145px 10px;
  }

  .hero-img-tablet {
    display: none;
  }

  .hero-img-desktop {
    display: block;
  }

  .features-container {
    padding: 100px 130px 50px 130px;
  }

  .features-title {
    margin-bottom: 80px;
  }

  .features-text {
    margin-bottom: 0;
  }

  .features-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-position: center;
    background-size: 396px 601px;
    column-gap: 453px;
    padding: 100px 0 100px 0;
  }

  .features-item:last-child {
    position: static;
  }

  .video-container {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: row;
    column-gap: 161px;
  }

  .video-content {
    margin-bottom: 0;
  }

  .video-title,
  .video-text {
    text-align: left;
  }

  .video-text {
    margin-bottom: 40px;
  }

  .video-list {
    justify-content: flex-start;
  }

  .team-container {
    padding-top: 80px;
  }

  .team-title,
  .team-text {
    margin-bottom: 80px;
  }

  .team-item {
    padding: 12px;
  }

  .team-img {
    width: 264px;
    height: 260px;
  }

  .costumer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .costumer-text {
    max-width: 886px;
    margin: 0 auto;
  }

  .contacts-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contacts-title {
    margin-bottom: 80px;
  }

  .contacts-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 148px;
  }

  .contacts-about {
    text-align: left;
  }

  .contacts-social {
    justify-content: flex-start;
  }

  .contacts-subtitle {
    font-size: 24px;
  }

  .contacts-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contacts-social {
    margin-bottom: 20px;
  }

  .contacts-button {
    margin: 0 0 0 auto;
  }
  .footer-container {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
